<div
  class="mx-auto w-full dark:bg-gray-800 bg-gray-100 p-6 rounded-lg shadow-lg"
>
<div class="flex justify-between items-center mb-6">
  <h2 class="dark:text-white text-2xl font-semibold">Settings Profile</h2>
  <button 
    (click)="dialogRef.close()" 
    class="rounded-full p-2 hover:bg-gray-200 dark:hover:bg-gray-700"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
  <div>
    <div class="col-span-5 xl:col-span-3 flex flex-col gap-6">
   <!-- General 
      <div
        class="rounded-md border dark:border-gray-700 border-gray-300 bg-white shadow-md"
      >
        <div class="border-b dark:bg-gray-800 border-gray-300 px-6 py-2">
          <h2
            class="text-title-md2 flex flex-row items-center gap-2 m-0 font-bold dark:text-gray-200 text-gray-900"
          >
            General
            <mat-icon
              class="text-gray-400 cursor-help"
              matTooltip="You can edit email registration"
              [matTooltipPosition]="'right'"
              >help</mat-icon
            >
          </h2>
        </div>

        <div class="p-6 dark:bg-darkbackground">
          <form class="flex flex-col gap-4">
   
            <div class="grid grid-cols-2 items-center gap-4">
              <div>
                <label
                  for="name"
                  class="block text-sm font-medium dark:text-gray-300 text-gray-700"
                >
                  Change email <span class="text-red-500">*</span>
                </label>
                <p class="text-sm dark:text-gray-400 text-gray-500 italic">
                  If you change the email, you must reconnect to the app after
                  changing it
                </p>
              </div>
              <input
                type="text"
                id="name"
                name="name"
                value="zbidialaa@gmail.com"
                class="block w-full px-3 py-2 border dark:border-gray-700 dark:bg-gray-700 dark:text-gray-300 border-gray-300 bg-gray-100 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
              />
            </div>

          
            <div class="grid grid-cols-2 items-center gap-4">
              <div>
                <label
                  class="block font-medium dark:text-gray-300 text-gray-700"
                  >activation code</label
                >
                <p class="mt-1 text-sm dark:text-gray-400 text-gray-500 italic">
                  Set here your activation code received by your new email.
                </p>
              </div>
              <input
                type="text"
                value="567890"
                disabled
                class="w-full rounded border dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 border-gray-300 bg-gray-100 px-3 py-2 cursor-not-allowed"
              />
            </div>

            <button
            class="h-fit border rounded-md flex justify-center items-center gap-2 p-2 text-white dark:border-gray-600 bg-blue-600 sm:w-auto"
        >
            <mat-icon>save</mat-icon>
              <span class="text-sm md:text-base">Change Email</span>
            </button>
          
          </form>
        </div>
      </div>-->
      <div
        class="rounded-md border dark:border-gray-700 border-gray-300 bg-white shadow-md"
      >
        <div class="border-b dark:bg-gray-800 border-gray-300 px-6 py-2">
          <h2
            class="text-title-md2 flex flex-row items-center gap-2 m-0 font-bold dark:text-gray-200 text-gray-900"
          >
            Security
            <mat-icon
              class="text-gray-400 cursor-help"
              matTooltip="You can change your password"
              [matTooltipPosition]="'right'"
              >help</mat-icon
            >
          </h2>
        </div>

        <div class="p-6 dark:bg-darkbackground" *ngIf="!isVerificationCodeRequired">
          <h2 class="text-title-md2 flex flex-row items-center gap-2 m-0 font-bold dark:text-gray-200 text-gray-900">
            Change Password
          </h2>
          <form [formGroup]="changePasswordForm" (ngSubmit)="onRequestPasswordChange()" class="flex flex-col gap-4">
            <div class="grid grid-cols-2 justify-between items-center gap-4">
              <div>
                <label
                  for="currentPassword"
                  class="block text-sm font-medium dark:text-gray-300 text-gray-700"
                >
                  Current Password <span class="text-red-500">*</span>
                </label>
                <div class="relative">
                  <input
                    [type]="showPassword ? 'text' : 'password'"
                    id="currentPassword"
                    formControlName="currentPassword"
                    class="block w-full px-3 py-2 border dark:border-gray-700 dark:bg-gray-700 dark:text-gray-300 border-gray-300 bg-gray-100 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                  />
                  <span
                    (click)="togglePasswordVisibility()"
                    class="absolute right-4 top-1/2 z-30 -translate-y-1/2 cursor-pointer"
                  >
                    <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                  </span>
                </div>
              </div>

              <div>
                <label
                  for="newPassword"
                  class="block text-sm font-medium dark:text-gray-300 text-gray-700"
                >
                  New Password <span class="text-red-500">*</span>
                </label>
                <div class="relative">
                  <input
                    [type]="showPassword ? 'text' : 'password'"
                    id="newPassword"
                    formControlName="newPassword"
                    class="block w-full px-3 py-2 border dark:border-gray-700 dark:bg-gray-700 dark:text-gray-300 border-gray-300 bg-gray-100 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                  />
                  <span
                    (click)="togglePasswordVisibility()"
                    class="absolute right-4 top-1/2 z-30 -translate-y-1/2 cursor-pointer"
                  >
                    <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                  </span>
                </div>
              </div>
            </div>

            <button
              type="submit"
              [disabled]="changePasswordForm.invalid"
              class="h-fit border rounded-md flex justify-center items-center gap-2 p-2 text-white dark:border-gray-600 bg-purple-600 hover:bg-purple-700"
              [ngClass]="{'opacity-50 cursor-not-allowed': changePasswordForm.invalid}"
            >
              <mat-icon>save</mat-icon>
              <span class="text-sm md:text-base">Change Password</span>
            </button>
          </form>
        </div>

        <!-- Token Verification Section -->
        <div *ngIf="isVerificationCodeRequired" class="p-6 mt-4">
          <h3 class="text-lg font-medium dark:text-gray-200 text-gray-900 mb-2">Verify Token</h3>
          <p class="text-sm text-gray-600 dark:text-gray-400 mb-4">
            Please enter the verification code sent to your email.
          </p>
          <div class="flex flex-col gap-4">
            <input 
              type="text" 
              [(ngModel)]="token" 
              placeholder="Enter verification code" 
              class="block w-full px-3 py-2 border dark:border-gray-700 dark:bg-gray-700 dark:text-gray-300 border-gray-300 bg-gray-100 rounded-md shadow-sm"
            />
            <button 
              (click)="onVerifyAndChangePassword(token)" 
              class="h-fit border rounded-md flex justify-center items-center gap-2 p-2 text-white dark:border-gray-600 bg-green-600 hover:bg-green-700"
            >
              <mat-icon>check_circle</mat-icon>
              <span class="text-sm md:text-base">Verify and Change Password</span>
            </button>
          </div>
        </div>
      </div>
      <!-- Danger Zone 
      <div
        class="rounded-md border dark:border-gray-700 border-gray-300 bg-white shadow-md"
      >
        <div class="border-b dark:bg-gray-800 border-gray-300 px-6 py-2">
          <h2
            class="text-title-md2 flex flex-row items-center gap-2 m-0 font-bold dark:text-gray-200 text-gray-900"
          >
            Danger Zone
            <mat-icon
              class="text-gray-400 cursor-help"
              matTooltip="delete this project"
              [matTooltipPosition]="'right'"
              >help</mat-icon
            >
          </h2>
        </div>

        <div class="p-6 dark:bg-darkbackground">
          <form>
            <div class="grid grid-cols-2 justify-between items-center gap-4">
              <div>
                <label
                  for="name"
                  class="block text-sm font-medium dark:text-gray-300 text-gray-700"
                >
                  Remove Profile <span class="text-red-500">*</span>
                </label>
                <p class="text-sm dark:text-gray-400 text-gray-500 italic">
                  Removing this Profile will delete all data including your
                  account and your data.
                </p>
              </div>
              <button
                class="h-fit border rounded-md flex justify-center items-center gap-2 p-2 text-white dark:border-gray-600 bg-red-600 sm:w-auto"
              >
                <mat-icon>delete</mat-icon>
                <span class="text-sm md:text-base">Remove Profile</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    -->
    </div>
  </div>
</div>
