<div class="flex flex-col items-center justify-center h-fit">
<div
class="flex flex-1 flex-col rounded-2xl p-6 sm:rounded-none  w-fit justify-center sm:border-0 sm:p-8"
>
<div class="mx-auto w-full max-w-md  pt-5 sm:py-10">
  <a
    href=""
    class="inline-flex cursor-pointer items-center text-sm text-gray-500 transition-colors hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-300"
  >
    <svg
      class="stroke-current"
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
    >
      <path
        d="M12.7083 5L7.5 10.2083L12.7083 15.4167"
        stroke=""
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
    Back to Sign Up 
  </a>
</div>
<div
  class="mx-auto flex w-full max-w-md bg-blue-50 dark:bg-darkbackground rounded-xl border dark:border-gray-600  border-gray-300  p-10 h-fit flex-1 flex-col justify-center"
>
  <div class="mb-3 sm:mb-8">
    <h1
      class="mb-2 text-center text-title-sm font-semibold text-gray-800 dark:text-white/90 sm:text-title-md"
    >
     Activate Account
    </h1>
    <p class="text-sm text-center text-gray-500 dark:text-gray-400">
      Please enter your recieved code to activate your account!
    </p>
  </div>
  <div>
   
   
    <form>
      <div class="space-y-5">
        <div class="grid grid-cols-1 gap-1 sm:grid-cols-2">
        
        </div>
        <!-- Email -->
        <div>
          <label
            class="mb-1.5 block text-sm font-medium text-gray-700 dark:text-gray-400"
          >
            Activation Code <span class="text-error-500">*</span>
          </label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email"
            class=" h-11 w-full rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 text-sm text-gray-800 shadow-theme-xs placeholder:text-gray-400 focus:border-brand-300 focus:outline-none focus:ring focus:ring-brand-500/10 dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30 dark:focus:border-gray-800"
          />
        </div>
    
        <!-- Button -->
        
         <div>
            <button
              class="flex w-full items-center justify-center rounded-lg bg-blue-500 px-4 py-3 text-sm font-medium text-white shadow-theme-xs transition hover:bg-blue-600"
            >
             Activate Account
            </button>
          </div>
      
      </div>
    </form>
   
  </div>
</div>
</div>

</div>