  <div class=" mx-auto w-full dark:bg-gray-800 bg-gray-100 p-6 rounded-sm shadow-lg">
    <h2 class="dark:text-white text-2xl font-semibold mb-6">Add Staff</h2>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <!-- First Name Field -->
      <div class="space-y-4">
        <div class="flex flex-col">
          <label for="firstname" class="dark:text-white font-medium mb-2">First Name</label>
          <input
            id="firstname"
            type="text"
            formControlName="firstname"
            class="dark:bg-gray-700 bg-white dark:text-white text-black p-3 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
            placeholder="Enter your firstname"
          />
          <small class="text-red-500" *ngIf="firstnameErrors">
            {{ firstnameErrors }}
          </small>
        </div>

        <!-- Last Name Field -->
        <div class="flex flex-col">
          <label for="lastname" class="dark:text-white font-medium mb-2">Last Name</label>
          <input
            id="lastname"
            type="text"
            formControlName="lastname"
            class="dark:bg-gray-700 bg-white dark:text-white text-black p-3 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
            placeholder="Enter your lastname"
          />
          <small class="text-red-500" *ngIf="lastnameErrors">
            {{ lastnameErrors }}
          </small>
        </div>

        <!-- Email Field -->
        <div class="flex flex-col">
          <label for="email" class="dark:text-white font-medium mb-2">Email</label>
          <input
            id="email"
            type="email"
            formControlName="email"
            class="dark:bg-gray-700 bg-white dark:text-white text-black  p-3 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
            placeholder="Enter your email"
          />
          <small class="text-red-500" *ngIf="emailErrors">
            {{ emailErrors }}
          </small>
        </div>

        <!-- Role Selection -->
        <div class="flex flex-col">
          <label class="dark:text-white font-medium mb-2">Role</label>
          <mat-radio-group formControlName="role" class="flex flex-col space-y-2">
            <mat-radio-button value="TESTER">
              <span class="dark:text-white text-black">Tester</span>
            </mat-radio-button>
            <mat-radio-button value="DEVELOPER">
              <span class="dark:text-white text-black">Developer</span>
            </mat-radio-button>
            <mat-radio-button value="MANAGER">
              <span class="dark:text-white text-black">Manager</span>
            </mat-radio-button>
          </mat-radio-group>
          <small class="text-red-500" *ngIf="roleErrors">
            {{ roleErrors }}
          </small>
        </div>

      
      </div>

      <!-- Submit Button -->
      <div class="mt-6 flex items-center justify-end">
        <button
          type="button"
          mat-button
          class="mr-4 text-gray-300 hover:text-white"
          (click)="onCancel()"
        >
          <span class="dark:text-white">Cancel</span>
        </button>
        <button
          type="submit"
          [disabled]="!contactForm.valid"
          class="dark:text-blue-200 p-3 rounded-md h-fit"
          [ngClass]="{'opacity-50 cursor-not-allowed': !contactForm.valid, 'text-white bg-indigo-500 hover:bg-indigo-600': contactForm.valid}"
        >
          <b>Submit</b>
        </button>
      </div>
    </form>
  </div>
