<div class="flex flex-col max-w-screen-2xl gap-4 p-4 sm:p-6 md:p-10 mx-auto">
    <!-- Section 1 -->
    <div class="flex justify-between items-center mb-4">
        <p
        class="dark:text-gray-200 text-2xl sm:text-3xl md:text-4xl flex items-center gap-2"
      >
        Alerts
        <mat-icon
          class="text-gray-400 cursor-help"
          matTooltip=" 😊"
          [matTooltipPosition]="'right'"
          >help</mat-icon
        >
      </p>
        <div class="flex space-x-2">
            <button class="bg-purple-600 text-white px-4 py-2 rounded-lg">Create Alert</button>
            <button class="bg-gray-200 px-4 py-2 rounded-lg">Give Feedback</button>
        </div>
    </div>

    <div class="border-b mb-4">
        <nav class="flex space-x-4 text-gray-600">
            <a href="#" class="text-purple-600 font-medium border-b-2 border-purple-600 pb-2">Alert Rules</a>
            <a href="#" class="hover:text-purple-600">History</a>
        </nav>
    </div>

    <div class="flex space-x-4 mb-4">
        <select class="border px-4 py-2 dark:bg-darkbackground dark:text-white dark:border-gray-600 rounded-lg">
            <option>My Teams</option>
        </select>
        <select class="border px-4 py-2 dark:bg-darkbackground dark:text-white dark:border-gray-600  rounded-lg">
            <option>All Projects</option>
        </select>
        <select class="border px-4 py-2 dark:bg-darkbackground dark:text-white dark:border-gray-600  rounded-lg">
            <option>Alert Type: All</option>
        </select>
        <input type="text" placeholder="Search by name" class="border px-4 py-2 rounded-lg flex-1 dark:bg-darkbackground dark:text-white dark:border-gray-600 ">
    </div>

    <div class="bg-white border-gray-500 p-4 rounded-lg dark:bg-darkbackground dark:text-white dark:border-gray-600 ">
        <table class="w-full">
            <thead>
                <tr class="text-gray-500 dark:text-gray-200  text-left text-sm">
                    <th class="pb-2">ALERT RULE</th>
                    <th class="pb-2">STATUS</th>
                    <th class="pb-2">PROJECT</th>
                    <th class="pb-2">TEAM</th>
                    <th class="pb-2">ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-t">
                    <td class="py-2 text-blue-600">Send a notification for high priority issues</td>
                    <td class="py-2 text-center">📩</td>
                    <td class="py-2 text-purple-600">testwind</td>
                    <td class="py-2 text-center">👤</td>
                    <td class="py-2 text-center">⋮</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
