<aside
  id="sidebar"
  class="fixed hidden z-20 h-full top-0 left-0 pt-20 pl-6 pb-3 lg:flex flex-shrink-0 flex-col w-fit transition-width duration-75"
  aria-label="Sidebar"
>
  <div
    class="relative flex-1 flex flex-col min-h-0 bg-transparent pt-0"
  >
    <div class="flex flex-col justify-between h-screen bg-white dark:bg-slate-900 py-4 px-3 shadow-xl rounded-3xl">
      <!-- Menu buttons -->
      <div class="flex flex-col items-center space-y-1">
        <!-- Projects button -->
        <ng-container *ngIf="isPartner">
          <button 
            class="sidebar-btn"
            [class.active-sidebar-btn]="activeMenu === 'project'"
            (click)="onDashboardClick()"
          >
            <ng-icon class="text-gray-600 " size="25" name="letsFolderOpen"></ng-icon>
          </button>
        </ng-container>

        <!-- Staff button -->
        <ng-container *ngIf="isPartner">
          <button 
            class="sidebar-btn"
            [class.active-sidebar-btn]="activeMenu === 'staff'"
            (click)="onStaffClick()"
          >
            <ng-icon class="text-gray-600 hover:text-gray-300" size="25" name="letsUser"></ng-icon>
          </button>
        </ng-container>

        <!-- Stats button -->
        <ng-container *ngIf="isPartner">
          <button 
            class="sidebar-btn"
            [class.active-sidebar-btn]="activeMenu === 'stats'"
            (click)="onStatsClick()"
          >
            <ng-icon class="text-gray-600 hover:text-gray-300" size="25" name="letsStat"></ng-icon>
          </button>
        </ng-container>

        <!-- Alert button -->
        <ng-container *ngIf="isPartner">
          <button 
            class="sidebar-btn"
            [class.active-sidebar-btn]="activeMenu === 'alert'"
            (click)="onAlertClick()"
          >
            <ng-icon class="text-gray-500 hover:text-gray-300" size="25" name="saxNotificationBingOutline"></ng-icon>
          </button>
        </ng-container>

        <!-- Issues button -->
        <ng-container *ngIf="isTester">
          <button 
            class="sidebar-btn"
            [class.active-sidebar-btn]="activeMenu === 'issues'"
            (click)="onIssuesClick()"
          >
            <ng-icon class="text-gray-500 hover:text-gray-300" size="25" name="saxNotificationBingOutline"></ng-icon>
          </button>
        </ng-container>

        <!-- Agencies button -->
        <ng-container *ngIf="isAdmin">
          <button 
            class="sidebar-btn"
            [class.active-sidebar-btn]="activeMenu === 'agencies'"
            (click)="onAgenciesClick()"
          >
            <ng-icon class="text-gray-500 hover:text-gray-300" size="25" name="saxNotificationBingOutline"></ng-icon>
          </button>
        </ng-container>
      </div>

      <!-- Bottom buttons -->
      <div class="flex flex-col items-center justify-center space-y-2">
        <button class="sidebar-btn-b">
          <ng-icon class="text-gray-700 hover:text-gray-300" size="25" name="letsHomeDuotone"></ng-icon>
        </button>
        
        <button class="sidebar-btn-b">
          <ng-icon class="text-gray-700 hover:text-gray-300" size="25" name="saxLogoutBulk"></ng-icon>
        </button>
      </div>
    </div>
  </div>
</aside>

<!-- Backdrop for mobile sidebar -->
<div
  class="bg-black/50 backdrop-blur-sm hidden fixed inset-0 z-10"
  id="sidebarBackdrop"
  (click)="closeSidebarOnMobile()"
></div>