.dark {
  .mat-mdc-table {
    background-color: transparent;
    
    .mat-mdc-header-cell,
    .mat-mdc-cell {
      color: white;
    }
  }
} 

/* Snackbar styles */
.error-snackbar {
  --mdc-snackbar-container-color: #f44336;
  --mdc-snackbar-supporting-text-color: white;
  --mat-mdc-snack-bar-button-color: white;
}

.success-snackbar {
  --mdc-snackbar-container-color: #4caf50;
  --mdc-snackbar-supporting-text-color: white;
  --mat-mdc-snack-bar-button-color: white;
}

/* For Angular Material v13 and earlier */
.mat-snack-bar-container.error-snackbar {
  background-color: #f44336;
  color: white;
}

.mat-snack-bar-container.success-snackbar {
  background-color: #4caf50;
  color: white;
}

.mat-snack-bar-container.error-snackbar .mat-simple-snackbar-action,
.mat-snack-bar-container.success-snackbar .mat-simple-snackbar-action {
  color: white;
} 